body {
	background-color: whitesmoke;
	margin: auto;

	}
	th {
		background-color: lightgrey;
		text-align: center;
	}
	
  table {
    border-collapse: collapse;
  }
  td, th {
    border: 1px solid darkgrey;
  }
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
